body {
    background-color: black;
}

img {

  }

div {
  filter: invert(100%); 
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 440px;
  height: 409px;
}

.light-mode {
  background-color: white;
  filter: invert(100%);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 440px;
  height: 409px;

}

/*
opacity(90%) sepia(70%);
opacity(100%) sepia(0%);
*/